<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AppId" value="ENTER_YOUR_PRODUCTION_APP_ID_HERE" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AppSecret" value="ENTER_YOUR_PRODUCTION_APP_SECRET_HERE" />
  </appSettings>
  <connectionStrings>
    <add name="ContactWebContext"
         connectionString="ENTER_YOUR_PRODUCTION_SQL_CNSTR_HERE"
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
    
    <add name="DefaultConnection"  
         connectionString="ENTER_YOUR_PRODUCTION_SQL_CNSTR_HERE" 
         providerName="System.Data.SqlClient" 
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
